export(calcABC)
export(checkParams)
export(compareModelResults.ObjFunComponents)
export(compareModelResults.TimeSeries)
export(exportModelComparisons.TimeSeries)
export(plotABC)
export(plotBubbles)
export(plotData)
export(plotMeanSizeComps)
export(plotModelComparisons.TimeSeries)
export(plotNatMort)
export(plotSizeCompsComparisons)
export(plotTCSAM2013)
export(plotTCSAM2013Rev)
export(runTCSAM2013)
import(PBSmodelling)
import(graphics)
import(stats)
import(tcltk)
importFrom(PBSmodelling,readList)
importFrom(wtsPlots,plotCompsAsCircles)
importFrom(wtsPlots,plotErrorBars.V)
importFrom(wtsUtilities,selectFile)
importFrom(wtsUtiltities,selectFiles)
