export(calcABC)
export(checkParams)
export(plotData)
export(plotNatMort)
export(plotSizeCompsComparisons)
export(plotTCSAM2013)
export(runTCSAM2013)
import(PBSadmb)
import(graphics)
import(stats)
import(tcltk)
import(wtsUtilities)
importFrom(wtsPlots,plotCompsAsCircles)
importFrom(wtsPlots,plotErrorBars.V)
